.navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  padding: 18px 30px;
  box-shadow: 2px 10px 20px -3px rgba(8, 8, 8, 0.41);
}

.link {
  font-size: 20px;
  color: #000;
  transition: 0.3s all ease;
}

.link:hover {
  transform: scale(1.1);
  color: #000;
  transition: 0.3s all ease;
}

.active {
  composes: link;
  color: rgb(229, 54, 54);
}
